<h1><%= @ad.title %></h1>
<img src="<%= @ad.image %>" alt="Image" height="400" width="600">
<h3><%= @ad.description %></h3>
<h3><%= @ad.price %></h3>
<h3><%= @ad.contact %></h3>

<% if @ad.user && session[:user_id] == @ad.user.id%>
    <a href="/ads/<%= @ad.id %>/edit"> Edit ad</a>
    <form action="/ads/<%= @ad.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete ad</button>
    </form>

<% end %>
